# Ignore temporary editor files.
*.swp
*~

# Ignore project files
*.pyproj
*.sublime-project
*.sublime-workspace
sftp-config.json

# Ignore dot files.
.*

# Ignore backup files.
*.orig
*.bak

# Ignore user generated log and temp files
*.csv
log.txt
temp.gb
results*

# Ignore virtualenv folder
venv
